
@font-face {
    font-family: "BCR";
    src: url("fonts/BC/BarlowCondensed-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LB";
    src: url("fonts/Lucida/LucidaStd-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LN";
    src: url("fonts/Lucida/LucidaStd.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
	margin: 0;
	position: relative;
	line-height: 18px;
	overflow-x: hidden;
	background-color: #c7ddea;
	font-family: "BCR";
}
a,p {
	margin: 0;
	padding: 0;
}

ul
{
	padding: 0;
	list-style-type: none;
}

header {
	margin: 30px auto 0;
	padding: 0;
	width: 100%;
	max-width: 1000px;
	background-color: #f0f0f0;
}

.btn_top {
	margin: 10px 0 0 30px;
	padding: 0;
	width: 45px;
	height: 20px;
	border: none;
	background-color: #84afbd;
	font-size: 10px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
.text_top {
	margin-left: 12px;
	padding: 0; 
	display: inline-block;
	font-size: 12px;
	font-family: Georgia, cursive;
	color: #757575;
}
nav {
	margin: 10px 0 0 0;
	padding: 0;
	width: 100%;
	height: 130px;
	background-image: url("img/nav.jpg");
	background-size: cover;

}

.menu_icon {
	display: none;
	width: 45px;
   	height: 35px;
   	position: relative;
   	float: left;
   	cursor: pointer;
}
.menu_icon span {
  	display: block;
  	position: absolute;
  	height: 9px;
  	width: 100%;
  	background: #fff;
  	-webkit-border-radius: 9px;
  	-moz-border-radius: 9px;
  	border-radius: 9px;
  	-webkit-opacity: 1;
  	-moz-opacity: 1;
  	opacity: 1;
  	left: 0;
  	-webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	transform: rotate(0deg);
  	-webkit-transition: .25s ease-in-out;
  	-moz-transition: .25s ease-in-out;
  	-o-transition: .25s ease-in-out;
  	transition: .25s ease-in-out;
}
.menu_icon span:nth-child(1) {
  top: 0;
}

.menu_icon span:nth-child(2), .menu_icon span:nth-child(3) {
  top: 13px;
}

.menu_icon span:nth-child(4) {
  top: 26px;
 }

.menu_state_open .menu_icon span:nth-child(1) {
   	top: 18px;
    width: 0;
}

.menu_state_open .menu_icon span:nth-child(2) {

	-webkit-transform: rotate(45deg);
  	-moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu_state_open .menu_icon span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
  	-moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu_state_open .menu_icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu_state_open .menu {
    display: block;  
}


.shadow {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgba(41, 78, 93, 0.9);
}
.logo {
	margin: 25px 0 0 30px;
	width: 12%;
	float: left;
	text-align: justify;
	text-transform: uppercase;
	color: #fff;
}
.logo a, .menu a {
	text-decoration: none;
	color: #fff;
}
.list a {
	text-decoration: none;
	color: #a6a6a6;
}

.logo a:after, .nav_panel a:after {
	text-decoration: none;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	letter-spacing: 1px;
	font-family: "LB";
}

.text_logo {
	margin: 7px 0 10px 0;
	padding: 0;
	font-size: 18px;
	letter-spacing: 8px;

}
.line {
	padding: 0;
	width: 90%;
	height: 1px;
	background-color: #6892a0;
}
.bottom_text {
	margin-top: 10px;
	font-size: 9px;
	letter-spacing: 0.8px;
	font-family: "LN";
	color: #6892a0;
}

.nav_panel {
	margin-left: 30px;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 70%;
	text-transform: uppercase;
}
@media only screen and (max-width: 1000px) {
	header {
		margin: 0;
	}
	.new_panel {
		margin-left: 10px;
	}
}

.nav_panel li {
	padding: 10px 13px;
}

.menu li:hover {
	border-width: 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #07252f;
	border-right-color: #416371;
	border-bottom-color: #416371;
	background-color: #092f3b; 


}

.list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	font-size: 14px;
}
.menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	font-size: 18px;
	color: #fff;
}


@media only screen and (max-width: 678px) {
  .menu_icon{
    display: block;
    margin: 0 50px 20px 10px;
  }
  
  .menu {
    position: fixed;
    display: none;
    top: 100px;
    right: 0;
    left: 0;
    margin-top: 110px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    overflow: auto;
  }
  
  .menu li {
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
  }
}

.general_block {
	margin: 0 auto 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: stretch;
	align-items: stretch;
	width: 100%;
	max-width: 1000px;
	background-color: #ededed;
}

.about_Syria {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 340px;
	font-size: 12px;
	background-color: #ededed;
}
.title_line {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 30px 0 0;
	padding: 0;
	line-height: auto;
	height: 34px;
	background-color: #ae0002;
}

.red_line{
	width: 35%;
}
.grey {
	position: relative;
	width: 65%;
	font-size: 12px;
	font-family: Georgia, cursive;
	color: #757575;
}

 .span {
	border-style: solid;
	border-width: 17px;
	border-color: #cacaca #cacaca #cacaca transparent;
}
.grey span {
	position: absolute;
	top: 8px;
	left: 25px;
	
}

h2 {
	margin: 0;
	padding: 7px 0 0 20px;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
}

.main_img {
	width: 100%;
	height: 255px;
	background-image: url("img/bg_img.jpg");
	background-position: top;
	background-size: cover;
}
.main_img .text {
	position: absolute;
	top: 105px;
	left: 40px;
	padding: 20px 20px 0;
	width: 45%;
	height: 100px;
	text-align: justify;
	background-color: #1e1e1e;
	font-size: 12px;
	font-family: Georgia;
	color: #fff;
}
.aside {
	
	width: 24%;
	background-color: #ededed;

}
.video_block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.title_video {
	margin: 30px 30px 0;
	padding: 0;
	height: 34px;
	background-color: #ae0002;
}
.item_video {
	position: relative;
	padding: 0;
	margin: 5px 30px 20px;
}
.bg_img {
	width: 100%;
}
.video {
	padding: 0;
	margin: 0;
	height: 100px;
}

.play {
	left: 8px;
	top: 85px;
	padding: 0;
	position: absolute;
	border: none;
	background-image: url("img/play.png");
	background-size: cover;
	background-color: white;
	width: 20px;
	height: 20px;
}
.link {
	margin: 25px 0 0;
}
.link a, .item_video a {
	color: #042b38;
	-webkit-text-decoration-color: #a4abae; 
	-moz-text-decoration-color: #a4abae; 
	text-decoration-color: #a4abae; 
}
.text_video {
	margin-top: 10px;
	font-size: 12px;
	font-family: Georgia, cursive;
	color: #757575;
}
.item_video .text_video img {
	position: absolute;
	right: 50px;
	bottom: 0;
}

.news {
	position: relative;
	margin-left: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 75%;
	background-color: #ededed;
}

.flex_box {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	overflow: hidden;
	width: 100%;
	height: 285px;
}
.item {
	width: 25%;
	background-color: #fff;
}
.item:not(:last-child) {
	margin-right: 10px;
}

.box_img {
	margin: 15px 15px 0;
	padding: 0;
}
.box_img img {
	width: 100%;
}

.link_news, .text_news {
	margin: 10px 15px 0;
}
.text_news img {
	margin: 10px 10px 0 0;
}

.news_block1 .red_line {
	width: 65%;
}

.img_block {
	margin-top: 25px;
	width: 25%;
	display: inline-block;
}
.text_block {
	padding-top: 25px;
	float: right;
	width: 70%;
	font-size: 12px;
	font-family: Georgia;
	font-weight: 500;
	color: #757575;
}

.links {
	padding: 0 30px 0 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}
.links .link {
	margin: 0;
}

.speech {
	margin-right: 40px;
}
.icons {
	padding-left: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}
.icons a:nth-child(2) {
	padding: 0 5px 0 15px;
}
.social {
	margin-top: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}
.news_block2 {
	margin-bottom: 20px;
}

@media only screen and (max-width: 925px) {
	.general_block {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		flex-direction: column;
	}
	.news,.aside {
		width: 100%;
		margin: 0;
	}
	.video_block {
		margin: 0 0 30px;
		width: 100%;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		flex-direction: row;
		justify-content: space-between;
	}
	.title_video {
		margin: 30px 0 0;
		width: 100%;
	}
	.play {
		top: 130px;
	}
	 .item_video {
    	margin: 5px 10px 0;
    }
    .item_video .link {
		margin-top: 90px;
    }

}
@media only screen and (max-width: 750px) {
	
	.play {
		top: 100px;
	}
    .item_video .link {
		margin-top: 60px;
    }

	.item_video .text_video img {
		right: 10px;
	}

}
@media only screen and (max-width: 678px) {
	.text_top {
		margin-left: 30px;
	}
	 .item_video .link {
		margin-top: 40px;
    }

	body {
		background-color: #ededed;
	}
    .news_block1 .title_line {
    	height: 50px;
    }
    .news_block1 .span {
    	border-width: 25px;
    }
    .red_line h2 {
    	padding-left: 0;
    	padding-top: 10px;
    	text-align: center;
    }
    .nav_panel {
    	margin-left: 70px;
    }
    .social {
    	margin-top: 10px;
    	-webkit-flex-direction: column;
    	-moz-flex-direction: column;
    	flex-direction: column;
    }
    .speech {
    	margin-right: 10px;
    }
  	.text_block {
  		padding: 10px;
  		float: none;
  		clear: both;
  		width: auto;
  		display: inline-block;
  	}
  	.img_block {
  		display: block;
  		margin: 20px auto;
  		width: 70%;
  	}
  	.icons {
  		margin-top: 10px;
  	}
  }
@media only screen and (max-width: 620px) {
	body {
		background-color: #ededed;
	}
	.play {
		top: 80px;
	}
	.main_img .text {
		padding: 5px;
		height: auto;
	}
    .title_line {
    	height: 50px;
    }
    .red_line h2 {
    	padding-left: 0;
    }
    .grey {
    	text-align: center;
    }
    .span {
    	border-width: 25px;
    }
    .flex_box {
    	flex-wrap: wrap;
    	height: auto;
    }
    .item {
    	width: 48%;
    }
    .item:nth-child(n){
    	margin: 0;
    }
    .item:nth-child(1), .item:nth-child(2) {
		margin-bottom: 10px;
    }

    .box_img img {
    	display: block;
    	margin: 0 auto;
    }
   
}
@media only screen and (max-width: 580px) {
	.play {
		top: 80px;
	}
	 .item_video .link {
		margin-top: 20px;
    }
}
@media only screen and (max-width: 550px) {
	.bottom_text {
		margin: 5px 0 0;
		letter-spacing: normal;
		line-height: normal;
	}
}
@media only screen and (max-width: 500px) {
	.video_block {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.item_video {
		width: 100%;
	}
	.video {
		height: auto;
	}
	.play {
		width: 50px;
		height: 50px;
		top: 180px;
		left: 20px;
	}
}
@media only screen and (max-width: 375px) {
	.nav_panel li {
		padding: 10px 5px;
		font-size: 10px; 
	}
	.play {
		top: 150px;
	}
	.item {
		width: 100%;
	}
	.links {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		flex-direction: column;
	}
	.list {
		margin-left: 10px;
	}
}
@media only screen and (max-width: 355px) {
	.title_line, .news_block1 .title_line {
		height: 70px;
	}
	.span,.news_block1 .span {
		border-width: 35px; 
	}
	.main_img .text {
		width: 60%;
		top: 150px;
	}
	.grey span {
		left: 40px;
	}
}

@media only screen and (max-width: 320px) {
	.play {
		top: 100px;
	}
}